.app {
    margin: 0px;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 30%;
    grid-template-areas: "menu content";
    height: 100vh;
    background-color: #F5F5F5;
}

main.content {
    grid-area: content;
}

aside.menu-area {
    grid-area: menu;
}