aside.menu-area {
    background-color: #353f49;
}

nav a {
    padding: 15px;
    font-weight: 250;
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
    display: block;
}

nav a:hover {
    background: #353f49;
}
